################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/DateAppApi
/API/bin/Debug/net6.0
/API/obj
/API/DateAppApi.sln
