:root {
  --primary-color: #fff5f8;
  --secondary-color: #f7d1d5;
  --accent-color: #c7375f;
  --text-color: #4a4a4a;
  --font-primary: "Arial";
  --font-secondary: "Georgia", serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--accent-color);
  color: var(--primary-color);
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--font-secondary);
  margin-bottom: 10px;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--text-color);
}


a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #cec6c6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

input,
textarea {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: var(--accent-color);
}
